
<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  
    <div>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [(ngModel)]="name" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button  (click)="loginSubmitt()">Login</button>
      </div>

  </div>